.main {
  min-height: 100vh;
  flex: 1;

  display: flex;
  flex-direction: row;
}

.loadingContainer {
  min-height: 100vh;

  display: flex;
  flex: 1;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.loadingContainer > span {
  font-weight: 800;
  font-size: 3rem;
  color: var(--red);
}
