.main {
  min-height: 100vh;
  flex: 1;

  display: flex;
  flex-direction: row;
}

.loadingContainer {
  min-height: 100vh;

  display: flex;
  flex: 1;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.loadingContainer > h1 {
  font-weight: 800;
  font-size: 3rem;
  color: var(--red);
}

.footer {
  position: absolute;
  bottom: 30px;
}

.footer > span {
  font-size: 12px;
  margin-right: 40px;
  color: var(--dark-gray);
  cursor: default;
}

.footer > span:hover {
  text-decoration: underline;
}
