.container {
  width: 30%;
  overflow-y: auto;
  height: 100vh;
}

.newNote {
  margin: 20px;
  border: 1px solid var(--red);
  padding: 15px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s;
  cursor: default;
  border-radius: 200px;
}

.newNote:hover {
  opacity: 0.5;
}

.newNote > strong {
  font-weight: 500;
  color: var(--red);
}

.emptyContainer {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyContainer > span {
  text-align: center;
  color: var(--dark-gray);
  margin: 50px;
}

.notesGroup {
  margin-left: 20px;
}

.notesGroupTitle {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.notesGroupTitleCircle {
  width: 8px;
  height: 8px;
  background-color: var(--red);
  border-radius: 4px;
}

.notesGroupTitle > span {
  margin-left: 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--black);
  flex: 1;
}

.notesGroupModalContainer {
  width: 300px;
  height: auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #ddd;

  position: absolute;
  left: 183px;
  z-index: 1;

  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.notesGroupModalContainer > span {
  padding: 20px;
  margin: 0px 20px;
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.5s;
  cursor: default;
  border-radius: 14px;
}

.notesGroupModalContainer > span:hover {
  background-color: var(--cinder);
}
