.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  background-color: var(--light-red);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 200px;
  height: 40px;
  cursor: default;
  transition: opacity 0.3s;
}

.container > span {
  font-size: 16px;
}

.container:hover {
  opacity: 0.4;
}

.tagsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
}

.tagItemContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.tagItem {
  cursor: default;
}

.tagItem > strong {
  font-weight: 400;
  color: var(--dark-gray);
  transition: all 0.3s;
}

.tagItem > strong:hover {
  font-weight: 600;
  color: var(--black);
}

.tagItemContent > span {
  color: var(--dark-gray);
  margin-left: 20px;
  font-size: 10px;
}

.newProject {
  background-color: var(--light-red);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 200px;
  height: 40px;
  cursor: default;
  transition: opacity 0.3s;
  margin-left: 20px;
}

.newProject span {
  color: var(--red);
  font-weight: 500;
  font-size: 16px;
}

.newProject > input {
  outline: none;
  border: 0;
  background-color: var(--light-red);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
  width: 80%;
}

.newProjectConfirm {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--red);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
